<html> 

<head>


<style type="text/css">
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
</style>


</head>

<body>
<h2 style="text-align:center;color:blue;">Shared Server - Grupo 10</h2>
<hr>

<table>
  <tr>
    <th>Nombre</th>
    <th>Padrón</th>
  </tr>
  <tr>
    <td>Pablo Federico</td>
    <td>90280</td>
  </tr>
  <tr>
    <td>Federico Farina</td>
    <td>-</td>

  </tr>
  <tr>
    <td>Nicolas Vazquez</td>
    <td>-</td>

  </tr>
  <tr>
    <td>Gisela</td>
    <td>-</td>

  </tr>
</table>
</body>

</html>
