<html>
<head>
  <title>Alta de usuario</title>
  <style type="text/css">
    form{
      width:50% !important;
      margin-left:25% !important;
    }
    h1{
      text-align:center;
    }
    table{
      text-align:center;
      width:50% !important;
      margin-left:25%!important;
    }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      var midata = null;
      $.ajax({
        url: "/interests",
        type: "GET",
        contentType: 'application/json; charset=utf-8',
        success: function(resultData) {
          for (var i = 0; i < resultData.interests.length; i++) {
            var interest = resultData.interests[i];
            var interestJson = interest.interest;
            var id = interestJson.id;
            var category = interestJson.category;
            var value = interestJson.value;
            $("#inputInterest").append('<option>'+category+'-'+value+'</option>');
          }
        },
        error : function(jqXHR, textStatus, errorThrown) {
        },
        timeout: 120000,
      });
    });
  </script>
</head>

<body>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/form_newUser">Alta usuario</a></li>
    <li class="active"><a href="/form_viewUser">Ver usuarios</a></li>
    <li><a href="/form_newInterest">Alta interés</a></li>
    <li><a href="/form_viewInterests">Ver intereses</a></li>
  </ol>

  <h1>Shared Server RestFul Api</h1>
  <hr>
  <br>
  <br>

  <form id="myform" class="form-horizontal">
    <div class="form-group">
      <label for="inputNombre" class="col-sm-2 control-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" name="name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAlias" class="col-sm-2 control-label">Alias</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputAlias" placeholder="Alias" name="username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword" placeholder="Password" name="password">
      </div>
    </div>

   <div class="form-group">
      <label for="inputSex" class="col-sm-2 control-label">Sex</label>
      <div class="col-sm-10">
        <select class="form-control" id="inputSex" placeholder="Sex" name="sex">
	<option>F</option>
        <option>M</option>
	</select>
      </div>
    </div>

   <div class="form-group">
      <label for="inputAge" class="col-sm-2 control-label">Age</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputAge" placeholder="Age" name="age">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email">
      </div>
    </div>
  <div class="form-group">
    <label for="inputInterest" class="col-sm-2 control-label">Interests</label>
    <div class="col-sm-10">
      <select class="form-control" id="inputInterest" name="interests" multiple></select>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Latitud</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLatit" placeholder="Latitud" name="latitude">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Longitud</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLongi" placeholder="Longitud" name="longitude">
    </div>
  </div>
  <div class="form-group">
    <label for="inputfile" class="col-sm-2 control-label">Imagen</label>
    <div class="col-sm-10">
      <input type="file" class="form-control" id="inputfile" placeholder="file" name="file">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Alta Usuario</button>
    </div>
  </div>
  <script>
    $("#myform").submit(function(event) {
      // Cancels the form's submit action.
      event.preventDefault();
      $.ajax({
        url: "/users",
        type: "POST",
        data: $(this).serialize(),
        dataType: 'json',
        success: function(resultData) {
          window.location.href = "/form_viewUser";
        }
      });
    });
  </script>
</form>
</body>
</html>
