<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <nav class="main-navigator">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">MatchApp</a>
            <ul id="nav-mobile" class="right">
                <li class="active"><a href="/form_viewUser">Usuarios</a></li>
                <li><a href="/form_viewInterests">Intereses</a></li>
            </ul>
        </div>
    </nav>
    <nav class="breadcrumbs">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="/" class="breadcrumb">Home</a>
                <a href="/form_viewUser" class="breadcrumb">Usuarios</a>
            </div>
            <ul id="nav-mobile" class="right">
                <li><a href="/form_newUser" class="waves-effect waves-light btn">Nuevo usuario</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <h2 class="header center-align">Listado de usuarios</h2>
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <table class="responsive-table striped centered" id="tabla">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Alias</th>
                                <th>Sexo</th>
                                <th>Edad</th>
                                <th>Email</th>
                                <th>Latitud</th>
                                <th>Longitud</th>
                                <th>Intereses</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Grupo 10</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            1er cuatrimestre 2016
            <a class="grey-text text-lighten-4 right" href="http://www.7552.fi.uba.ar/">Taller de programacion II</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#editar").on("click", function () {
            alert("editar");
        })
        /*$("#eliminar").on("click", function () {
            alert("eliminar");
        })*/
        var midata = null;
        $.ajax({
            url: "/users",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (resultData) {
                for (var i = 0; i < resultData.users.length; i++) {
                    var user = resultData.users[i];
                    var id = user.id;
                    var name = user.name;
                    var email = user.email;
                    var alias = user.alias;
                    var sexo = user.sex;
                    var edad = user.age;
                    var interests = user.interests;
                    var latitude = user.location.latitude;
                    var longitude = user.location.longitude;
                    $("#tabla").append('<tr><td>' + id + '</td><td>' + name + '</td><td>' + alias + '</td><td>' + sexo + '</td><td>' + edad + '</td><td>' + email + '</td><td>' + latitude + '</td><td>' + longitude + '</td><td>' + interests + '</td><td><button type="button" id="editar" class="btn btn-success" onclick="toEdit(\'' + id + '\')"><i class="material-icons">mode_edit</i></button></td><td><button type="button" id="eliminar" class="btn btn-warning" onclick="toDelete(\'' + id + '\')"><i class="material-icons">delete</i></button></td></tr>');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
            },
            timeout: 120000,
        });
    });

    function toEdit(id) {
        window.location.href = '/form_editUser?=' + id;
    }

    function toDelete(id) {
        $.ajax({
            url: '/users/' + id,
            type: 'DELETE',
            success: function(data) {
            	alert("Usuario borrado satisfactoriamente");
        			window.location.href = "/form_viewUser";
            }
        });
    }
</script>
</body>
</html>

